body {
    margin: 0px;
    display: flex;
}
.left{
    height: 100vh;
    width: 30vw;
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    
}
.image {
    max-width: 20%;
    height: auto;
}
.odin-logo{
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 50%;
    color: white;
    font-size: 30px;
}
.right{
    height: 100vh;
    width: 70vw;
    
}
.quote {
    height: 25vh;
    background-color: rgb(235, 235, 235);
    padding-left: 5em;
    
}
.form {
    height: 50vh;

      
}
.create {
    height: 25vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-input {
    width: 35em;
    margin-left: 5em;
    margin-top: 5px;
    height: 20px;
}
.lets-do {
    margin-left: 5em;
    padding-top: 20px;
    padding-bottom: 20px;
}
.create-account{
    background-color: rgb(235, 235, 235);
    padding-left: 5em;
    height: 14vh;
}
.createaccount{
    color: white;
    background-color: green;
}